//main: style.less
.banner-height {
	background-color: black;
	height: 50vh;
	img {
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
	}
	z-index: -22;
}
