Object.assign(UserpageItem.prototype, { template(){ return `
	<div class="card order-item">
    <div class="card-header" id="headingOne">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse${this.co}" aria-expanded="false" aria-controls="collapse${this.co}">
          Beställning #${this._id}
        </button>
      </h4>
    </div>
    <div id="collapse${this.co}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h5><b>Ordern är: ${this.status}</b></h5>
      	<h5>${this.products.length == 1 ? 'Produkt' : 'Produkter'}: ${this.productName}</h5>
        <h5>Beställd: ${this.orderdate}</h5>
        <h5>Totalpris: ${this.price} kr</h5>
      </div>
    </div>
  </div>
`;}});





